In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel("Amazon_all_data.xlsx")

In [3]:
df.head()

,Phone_Names,Price,No_of_buyers
0,Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD ...,"27,999","11,617"
1,"Samsung Galaxy M32 5G (Sky Blue, 8GB RAM, 128G...","18,999",More Buying Choices
2,"Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storag...","20,990","1,410"
3,"Vivo Y33s (Mirror Black, 8GB RAM, 128GB Storag...","18,990",293
4,"Vivo Y72 5G (Prism Magic, 8GB RAM, 128GB Stora...","20,990",193

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phone_Names   43 non-null     object
 1   Price         43 non-null     object
 2   No_of_buyers  43 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [5]:
df.No_of_buyers.value_counts()

More Buying Choices      6
934                      5
11,617                   4
1,410                    3
36,819                   3
12,519                   2
70                       2
4                        2
32,083                   1
Save ₹1,000              1
51,971                   1
193                      1
319                      1
5,893                    1
Only 1 left in stock.    1
51                       1
5                        1
66                       1
747                      1
8                        1
293                      1
2                        1
29,006                   1
397                      1
Name: No_of_buyers, dtype: int64

In [6]:
df.isnull().sum()

Phone_Names     0
Price           0
No_of_buyers    0
dtype: int64

In [7]:
df.loc[df["No_of_buyers"]=="More Buying Choices"]='0'
df.loc[df["No_of_buyers"]=="Save ₹1,000"]='0'
df.loc[df["No_of_buyers"]=="Only 1 left in stock."]='0'

In [8]:
df.No_of_buyers.value_counts()

0         8
934       5
11,617    4
1,410     3
36,819    3
12,519    2
4         2
70        2
51        1
51,971    1
193       1
319       1
32,083    1
5         1
5,893     1
66        1
747       1
8         1
293       1
2         1
29,006    1
397       1
Name: No_of_buyers, dtype: int64

In [9]:
df.No_of_buyers.isnull().sum()

0

In [10]:
df["No_of_buyers"]= df['No_of_buyers'].apply(lambda x: int(x.replace(',','')) if ',' in x else int(x))

In [11]:
df.No_of_buyers.describe()

count       43.000000
mean      7256.860465
std      13159.625656
min          0.000000
25%          4.500000
50%        747.000000
75%      11617.000000
max      51971.000000
Name: No_of_buyers, dtype: float64

In [12]:
df["Price"].value_counts()

0         8
27,999    3
32,999    3
15,490    2
37,999    2
15,499    2
34,999    2
16,999    2
28,999    2
21,999    2
20,990    2
39,536    1
59,999    1
24,999    1
55,999    1
40,999    1
24,843    1
29,990    1
60,999    1
54,900    1
18,990    1
19,490    1
32,499    1
24,990    1
Name: Price, dtype: int64

In [13]:
df["Price"]= df['Price'].apply(lambda x: str(x))
df["Price"]= df['Price'].apply(lambda x: int(x.replace(',','')) if ',' in x else int(x))

In [14]:
df["Price"].value_counts()

0        8
32999    3
27999    3
28999    2
15499    2
20990    2
34999    2
16999    2
37999    2
15490    2
21999    2
24843    1
60999    1
24999    1
54900    1
32499    1
59999    1
39536    1
18990    1
40999    1
29990    1
19490    1
24990    1
55999    1
Name: Price, dtype: int64

In [15]:
df.Price.isnull().sum()

0

In [16]:
df.No_of_buyers.describe()

count       43.000000
mean      7256.860465
std      13159.625656
min          0.000000
25%          4.500000
50%        747.000000
75%      11617.000000
max      51971.000000
Name: No_of_buyers, dtype: float64

In [17]:
df.Phone_Names.describe()

count     43
unique    36
top        0
freq       8
Name: Phone_Names, dtype: object

In [18]:
df[df["Phone_Names"]=='0']

   Phone_Names  Price  No_of_buyers
1            0      0             0
13           0      0             0
24           0      0             0
27           0      0             0
30           0      0             0
32           0      0             0
34           0      0             0
35           0      0             0

In [19]:
df= df[~(df["Phone_Names"]=='0')]

In [20]:
df.Phone_Names.describe()

count                                                    35
unique                                                   35
top       (Renewed) OnePlus 9 Pro 5G (Stellar Black, 8GB...
freq                                                      1
Name: Phone_Names, dtype: object

In [21]:
df.Phone_Names.iloc[:20]

0     Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD ...
2     Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storag...
3     Vivo Y33s (Mirror Black, 8GB RAM, 128GB Storag...
4     Vivo Y72 5G (Prism Magic, 8GB RAM, 128GB Stora...
5     Vivo Y21 (Midnight Blue, 4GB RAM, 128GB Storag...
6     Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...
7     Samsung Galaxy M32 5G (Slate Black, 6GB RAM, 1...
8     Vivo Y21 (Diamond Glow, 4GB RAM, 128GB Storage...
9     OnePlus Nord CE 5G (Blue Void, 8GB RAM, 128GB ...
10    Vivo V21e 5G (Sunset Jazz, 8GB RAM, 128GB Stor...
11    OnePlus Nord 2 5G (Green Woods, 12GB RAM, 256G...
12    Samsung Galaxy A22 5G (Gray, 8GB RAM, 128GB St...
14                       Apple iPhone 11 (64GB) - Black
15    iQOO 7 5G (Storm Black, 8GB RAM, 128GB Storage...
16    Vivo Y53s (Deap Sea Blue, 8GB RAM, 128GB Stora...
17    Mi 11X 5G (Lunar White 8GB RAM 128GB ROM | SD ...
18    Samsung Galaxy A12 (Blue, 6GB RAM, 128GB Stora...
19                       Apple iPhone XR (64GB) - White
20                       Apple iPhone XR (64GB) - Black
21                      Apple iPhone XR (128GB) - White
Name: Phone_Names, dtype: object

In [22]:
def x(item):
    s= '_'
    a=[]
    lis=item.split()
    for l in lis:
        if 'GB' in l:
            a.append(l)
    s=s.join(a)
    return s

In [23]:
df["Phone_features"]= df["Phone_Names"].apply(x)

In [24]:
df["Phone_features"]

0         6GB_128GB
2         8GB_128GB
3         8GB_128GB
4         8GB_128GB
5         4GB_128GB
6         6GB_128GB
7         6GB_128GB
8         4GB_128GB
9         8GB_128GB
10        8GB_128GB
11       12GB_256GB
12        8GB_128GB
14           (64GB)
15    8GB_128GB_3GB
16        8GB_128GB
17        8GB_128GB
18        6GB_128GB
19           (64GB)
20           (64GB)
21          (128GB)
22          (128GB)
23        8GB_128GB
25          (128GB)
26       12GB_256GB
28        6GB_128GB
29        6GB_128GB
31        6GB_128GB
33       12GB_256GB
36          (128GB)
37           (64GB)
38        8GB_128GB
39        8GB_128GB
40       12GB_256GB
41        8GB_128GB
42        6GB_128GB
Name: Phone_features, dtype: object

In [25]:
df.head()

,Phone_Names,Price,No_of_buyers,Phone_features
0,Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD ...,27999,11617,6GB_128GB
2,"Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storag...",20990,1410,8GB_128GB
3,"Vivo Y33s (Mirror Black, 8GB RAM, 128GB Storag...",18990,293,8GB_128GB
4,"Vivo Y72 5G (Prism Magic, 8GB RAM, 128GB Stora...",20990,193,8GB_128GB
5,"Vivo Y21 (Midnight Blue, 4GB RAM, 128GB Storag...",15490,319,4GB_128GB

In [26]:
df.Phone_Names.value_counts()

(Renewed) OnePlus 9 Pro 5G (Stellar Black, 8GB RAM, 128GB Storage)                                                                    1
Samsung Galaxy A22 5G (Gray, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                      1
Vivo Y53s (Deap Sea Blue, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                         1
Vivo V21e 5G (Sunset Jazz, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                        1
Apple iPhone XR (128GB) - White                                                                                                       1
Mi 10i 5G (Atlantic Blue, 6GB RAM, 128GB Storage) - 108MP Quad Camera | Snapdragon 750G Processor                                     1
Vivo Y21 (Midnight Blue, 4GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                          1
Vivo Y21 (Diamond Glow, 4GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                           1
Samsung Galaxy A52 (Blue, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                         1
Apple iPhone XR (64GB) - White                                                                                                        1
Oppo Reno 6 Pro 5G (Stellar Black, 12GB RAM, 256GB Storage), Medium (CPH2249)                                                         1
Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128GB Storage)                                                                              1
Realme GT 5G Master Edition (Luna White, 8GB RAM, 128GB Storage)                                                                      1
(Renewed) OnePlus 9 Pro 5G (Pine Green, 12GB RAM, 256GB Storage)                                                                      1
Vivo Y72 5G (Prism Magic, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                         1
Apple iPhone XR (64GB) - Coral                                                                                                        1
Samsung Galaxy A12 (Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                        1
Vivo Y33s (Mirror Black, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                          1
(Renewed) OnePlus Nord 2 5G (Gray Sierra, 12GB RAM, 256GB Storage)                                                                    1
Apple iPhone XR (128GB) - Blue                                                                                                        1
Samsung Galaxy M32 5G (Slate Black, 6GB RAM, 128GB Storage)                                                                           1
OnePlus Nord CE 5G (Blue Void, 8GB RAM, 128GB Storage)                                                                                1
Mi 11X 5G (Celestial Silver 6GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED | Upto 18 Months No Cost EMI)                 1
iQOO 7 5G (Storm Black, 8GB RAM, 128GB Storage) | 3GB Extended RAM | Upto 12 Months No Cost EMI | 6 Months Free Screen Replacement    1
Apple iPhone XR (128GB) - (Product) RED                                                                                               1
Apple iPhone XR (64GB) - Black                                                                                                        1
OnePlus Nord 2 5G (Green Woods, 12GB RAM, 256GB Storage)                                                                              1
Apple iPhone 11 (64GB) - Black                                                                                                        1
Mi 11X 5G (Lunar White 8GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED)                                                   1
Mi 11X 5G (Lunar White 6GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED | Upto 18 Months No Cost EMI)                      1
Samsung Galaxy A12 (Blue, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                         1
Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers                                          1
Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED | Upto 18 Months No Cost EMI                       1
Apple iPhone 11 (128GB) - Yellow                                                                                                      1
OnePlus 9 Pro 5G (Morning Mist, 8GB RAM, 128GB Storage)                                                                               1
Name: Phone_Names, dtype: int64

In [27]:
def name_strip(item):
    s=''
    for i in range (len(item)):
        if item[i]=='(' and i>1 :
            break
        else:
            s+=item[i]
    return s

In [28]:
df["Phone_Names"]=df["Phone_Names"].apply(name_strip)
df.head()

,Phone_Names,Price,No_of_buyers,Phone_features
0,Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD ...,27999,11617,6GB_128GB
2,Vivo Y73,20990,1410,8GB_128GB
3,Vivo Y33s,18990,293,8GB_128GB
4,Vivo Y72 5G,20990,193,8GB_128GB
5,Vivo Y21,15490,319,4GB_128GB

In [29]:
df['Phone_Names'].value_counts()

Apple iPhone XR                                                                                                    6
Mi 11X 5G                                                                                                          3
Vivo Y21                                                                                                           2
Samsung Galaxy M32 5G                                                                                              2
Apple iPhone 11                                                                                                    2
Samsung Galaxy A12                                                                                                 2
(Renewed) OnePlus 9 Pro 5G                                                                                         2
Samsung Galaxy A22 5G                                                                                              1
Vivo V21e 5G                                                                                                       1
Vivo Y53s                                                                                                          1
OnePlus 9 Pro 5G                                                                                                   1
OnePlus Nord CE 5G                                                                                                 1
Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED | Upto 18 Months No Cost EMI    1
Vivo Y72 5G                                                                                                        1
OnePlus Nord 2 5G                                                                                                  1
Realme GT 5G Master Edition                                                                                        1
iQOO 7 5G                                                                                                          1
Samsung Galaxy A52                                                                                                 1
(Renewed) OnePlus Nord 2 5G                                                                                        1
Oppo Reno 6 Pro 5G                                                                                                 1
Mi 10i 5G                                                                                                          1
Vivo Y73                                                                                                           1
Vivo Y33s                                                                                                          1
Name: Phone_Names, dtype: int64

In [30]:
df=df[~(df["Phone_Names"]=="Mi 11X 5G Cosmic Black 6GB RAM 128GB ROM | SD 870 | DisplayMate A+ rated E4 AMOLED | Upto 18 Months No Cost EMI")]

In [31]:
df.shape

(34, 4)

In [32]:
df.reset_index(inplace=True)

In [33]:
df.drop(columns="index", inplace=True)
df.head(10)

              Phone_Names  Price  No_of_buyers Phone_features
0               Vivo Y73   20990          1410      8GB_128GB
1              Vivo Y33s   18990           293      8GB_128GB
2            Vivo Y72 5G   20990           193      8GB_128GB
3               Vivo Y21   15490           319      4GB_128GB
4  Samsung Galaxy M32 5G   16999            70      6GB_128GB
5  Samsung Galaxy M32 5G   16999          1410      6GB_128GB
6               Vivo Y21   15490          1410      4GB_128GB
7     OnePlus Nord CE 5G   24999            70      8GB_128GB
8           Vivo V21e 5G   24990         51971      8GB_128GB
9      OnePlus Nord 2 5G   34999           747     12GB_256GB

In [34]:
df.to_csv("Cleanse_data_for_Analysis.csv")